<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<link rel="stylesheet" href="css/bootstrap.min.css">
	<link rel="stylesheet" href="css/all.css">
	<title>修改个人信息</title>
</head>
<body>
<nav class="navbar navbar-inverse" style="text-align: center">
	<a href="/"><span class="glyphicon glyphicon-chevron-left"></span></a>
	个人资料
	<a href="/"><span class="glyphicon glyphicon-home"></span></a>
</nav>
<div class="container">
	<form action="">
		<input type="file" class="form-group" name="userImg" id="userImg" accept="image/*">
		<button type="submit" class="btn btn-success form-control form-group">提交</button>
	</form>
</div>

<script src="js/jquery.js"></script>
<script src="script/modify.js"></script>
<script>

</script>
</body>
</html>