.navbar-inverse {
    height: 40px;
    line-height: 50px;
    text-align: center;
    color: white;
    font-size: 18px;
    position: relative;
}
.glyphicon-chevron-left {
    position: absolute;
    left: 10px;
    top: 15px;
}
.glyphicon-plus-sign, .glyphicon-home, .glyphicon-remove-circle{
    position: absolute;
    right: 10px;
    top: 15px;
}
.form-control {
    font-size: 16px;
    height: 40px;
}
.sex {
    margin-left: 30px !important;
}
a {
    color: white;
}
a:hover {
    text-decoration: none;
    color: white;
}
.form-control span {
    display: block;
    font-size: 12px;
    width: 100px;
    height: 30px;
}
#title {
    position: absolute;
    top: 0px;
    left: 20px;
}

.navbar-inverse {
    text-align: left;
}
.nav_user button {
    background-color: transparent;
    color: white;
    border: none;
    font-size: 16px;
}
.dropdown-menu {
    max-width: 136px;
    min-width: 0px;
 }
