.navbar-inverse {
    height: 40px;
    line-height: 50px;
    text-align: center;
    color: white;
    font-size: 18px;
    position: relative;
}
.glyphicon-chevron-left {
    position: absolute;
    left: 10px;
    top: 15px;
}
.glyphicon-plus-sign, .glyphicon-home, .glyphicon-remove-circle{
    position: absolute;
    right: 10px;
    top: 15px;
}
.form-control {
    font-size: 16px;
    height: 40px;
}
.sex {
    margin-left: 30px !important;
}
a {
    color: white;
}
.form-control span {
    display: block;
    font-size: 12px;
    width: 100px;
    height: 30px;
}

#user {
    display: block;
    width: 100%;
    height: 50px;
    font-size: 18px;
    color: red;
    text-align: center;
}