body{
  min-width: 500px;
}
.row{

  margin:0;
  padding: 0;
  img{
    width: 90px;
    height:90px;
  }
  div{
    margin: 0;
    padding: 0;
  }
}
ul,li{
  margin:0;
  padding:0;
}
.problemitem{
  border-bottom: 1px solid #666;
}
.answers{
  margin:5px 0px;
}
.problems{
  margin: 10px 0px;
}