body{
  min-width: 500px;
}
.row{

  margin:0;
  padding: 0 10px;

  img{
    width: 90px;
    height:90px;
  }
  div{
    margin: 0;
    padding: 0;
  }
}

ul,li{
  margin:0;
  padding:0;
}
.problemitem{
  border-bottom: 3px solid #666d64;
}
.answers{
  margin:5px 0px;
}
.problems{
  margin: 10px 0px;
}
.username{
  color: #e93a29;
  font-size:25px;
}
.problem_title{
  color: #222222;
  font-size:18px;
}
.time_ip{
  font-size: 10px;
}

p{
  margin: 0 0 5px;
}